html {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #eaebf0;
  background-image: url(img/background.png);
  background-size: 20px 10px;
  line-height: 1.4rem;
}

.header {
  background: #fff;
  border: 1px solid #eaebf0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

.header__logo {
  display: block;
  margin: 1.25rem 0px;
  width: 179px;
  height: 24px;
}

.header__link {
  display: inline-block;
  color: #3e4247;
  text-decoration: none;
  line-height: 1rem;
}

.header__link:not(:last-child) {
  margin-right: 2rem;
}

.footer {
  background-color: #111;
  color: #a9afb6;
  padding: 2rem 0px;
  font-size: .875rem;
  font-weight: 300;
}

.footer__title {
  font-weight: 700;
  color: #646971;
  margin: 0px;
}

.footer__info {
  margin-top: .5rem;
  margin-bottom: 0px;
}

.footer__info_phone {
  margin-top: 1rem;
  margin-bottom: 0px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}

.footer__link {
  display: inline-block;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  margin-top: 8px;
}

.footer__link_all {
  margin-top: 1rem;
}

.footer__link_all::after {
  content: url(img/arrow.svg);
  margin-left: .5rem;
}

.footer__border {
  border: 0;
  height: 2px;
  background-color: #646971;
  margin-top: 0px;
  margin-bottom: 16px;
}

.footer__legal {
  padding-top: 6rem;
  margin: 0px;
  font-size: .687rem;
  text-align: left;
  line-height: 1.15rem;
}
